body {
  font-family: 'Work Sans', sans-serif;
  background-color: #fdfdfd;
  font-size: 20px;
  font-weight: 400;
  color: #333;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #f80;
/*  color: #3fb3c1;*/
}

a:hover {
  color: #333;
  transition: color .2s ease-out;
}

/* Hamburger - Edited from https://codepen.io/anon/pen/pYvvEG */

nav {
  position: absolute;
  z-index: 3;
  margin: auto;
  padding: 0.8em 7%;
  width: 86%;
}

nav #home {
  display: block;
  float: left;
  padding: 18px 1%;
  text-decoration: none;
  color: #000;
  width: 180px;
}

nav #home span {
  position: absolute;
  top: 23px;
  left: 7.5%;
  width: 35px;
  height: auto;
}

nav #home:hover {
  fill: #f80;
  color: #f80;
  transition: all .2s ease-out;
}

nav #home-title {
  position: relative;
  display: inline-block;
  left: 42px;
/*  font-size: 1.2em;*/
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .25px;
}

nav li a {
  font-size: 28px;
  display: block;
  padding: 3vh;   
  margin: 3px;
  text-decoration: none;
  color: #000;
  transform: translateY(30vh);
}

nav li a:hover,
nav .menu-btn:hover {
  color: #f80;
}

nav #menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);

  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
/*    float: right;*/
  
  clear: both;
  height: 0;
  max-height: 0;
  
  width: 100vw;
  z-index: -3;
  
  transition: max-height .2s ease-out, height .2s ease-out;
}

nav .menu-icon {
  cursor: pointer;
  display: inline-block;
/*  float: right;*/
/*  position: relative;*/
  position: fixed;
  right: 7%;
  padding: 19px 0.5em;
  margin: 10px 0;
  user-select: none;
/*  background-color: rgba(255, 136, 0, 0.3);*/
  background-color: rgba(253, 253, 253, 0.8);
}

nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2.5px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

nav .menu-icon .navicon:before {
  top: 5px;
}

nav .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

nav .menu-btn {
  display: none;
}

nav .menu-btn:checked ~ #menu {
/*  max-height: 240px;*/
  max-height: 100vh;
  height: 100vh;
/*  padding: 39vh 0;*/
}

nav .menu-btn:checked ~ .menu-icon {
/*  background-color: rgba(255, 136, 0, 1);*/
  background-color: rgba(255, 255, 255, 0.9);
  transition: .2s ease-out;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

header {
  width: 86%;
  margin: 0 auto;
  position: relative;
  padding: 13% 0 0.5em 0;
}

header a {
  padding-bottom: 0.05em;
}

header a:hover, 
#about-me a:hover, 
#about-container a:hover, 
#contact a:hover {
  border-bottom: 2px solid #333;
  color: #333;
  transition: color .2s ease-out, border .1s ease-out;
}

header p {
  font-size: 16px;
  line-height: 1.65em;
}

header h1 {
  color: #000;
/*  font-size: 37px;*/
  font-size: calc(24px + 1vw);
  line-height: 1.45em;
  font-weight: 500;
  margin: 0;
  padding: .8em 0 .5em 0;
}

/* project */

.portfolio {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 4% 0;
}

.portfolio h2 {
  padding-left: 7%;
}

.project {
/*  width: 86%;*/
  display: block;
  padding: 28px 7%;
  position: relative;
}

.project:hover {
  transition: height .3s ease-out, padding .3s ease;
  padding: 40px 7%;
}

.project-cta {
  font-size: 15px;
}

.project-role {
  font-size: 15px;
  margin: 13px 0;
  color: #4e4e4e;
}

.project-name {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-size: 20.5px;
  max-width: 80%;
  line-height: 1.35em;
}

.project-image {
  width: 29.5%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 5px;
}

.cubo {
  background-color: #E5F7F5;
  fill: #E5F7F5;
  background-image: linear-gradient(-180deg, #E5F7F5 74%, #c0f5ea 100%);
}

.pinchfun {
  background-color: #fefbde;
  fill: #fefbde;
  background-image: linear-gradient(-180deg, #fefbde 74%, #fff1b6 98%);
}

.music {
  background-color: #ffece0;
  fill: #ffece0;
  background-image: linear-gradient(-180deg, #ffece0 74%, #ffddcd 100%);
}

.other-project {
/*  width: 86%;*/
  display: block;
  padding: 16px 7%;
  position: relative;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.last-item {
  border-bottom: 1px solid #e5e5e5;
}

.other-project:hover {
  background-color: #fafafa;
  padding: 19px 7%;
  transition: all .2s ease-out;
  cursor: pointer;
}

.other-project .project-name {
  font-size: 18.5px;
  line-height: 25px;
}

.other-project .project-role {
  font-size: 14.5px;
  margin-bottom: 0;
}

/* ------- */

/*
.project-info {
  padding: 1.3em 0;
}

.project-img img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.project-img {
  display: flex; 
  position: relative;
  top: 0;
}
*/

/* Pseudo-element animation https://codepen.io/tribex/pen/ZxXJoO 
.project-img::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity .2s ease-out;
  border-radius: 1em;
}

.project-info:hover > .project-img::before {
  opacity: 1;
}

.project-info:hover > .project-img {
  top: -10px;
  transition: top .2s ease-out;
}

.project-info:hover > .project-title,
.project-info:hover > .project-description {
  color: #f80;
}

.project-title, .project-description {
  color: #333;
}

.project-title {
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.4em;
}

.project-description {
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #9c9c9c;
  font-size: 16px;
  line-height: 1.55em;
}


/* ------- */

#about-me, #contact {
  width: 86%;
  margin: auto;
  position: relative;
  padding: 5em 0 3em 0;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #555;
  padding-top: 1.4em;
}

#about-me p, #about-me ul,
#contact p {
  font-size: 16px;
  line-height: 1.65em;
  list-style: none;
}
/* adapted from https://stackoverflow.com/questions/13840403/edit-line-thickness-of-css-underline-attribute */

#about-me b {
  box-shadow: inset 0 -3px 0 #fbfbfb, inset 0 -11px 0 #fbe06e;
  font-weight: 400;
}

#about-container {
  padding: 0;
  margin: auto;
  width: 86%;
  grid-template-columns: none;
  font-size: 16px;
  line-height: 1.65em;
}

#about-container ul {
  margin: 0;
  padding-left: 0;
}

#about-container li {
  list-style: none;
}

#about-container h4 {
  margin-top: 0.5em;
  display: inline-block;
  font-weight: 600;
  font-size: 14.5px;
  color: #555;
  border-left: 3px solid #555;
  padding-left: 10px;
  padding-right: 10px;
}

#about-container a {
  padding-bottom: 0.05em;
}

.about-column {
  padding: 0.5em 0;
}

#about-container .experience {
  padding: 0.5em 0;
}

#about-container .role,
#about-container .award, 
#about-container .paper {
  padding: 0.2em 0;
  font-size: 17.5px;
  color: #111;
  font-weight: 500;
}

#about-container .button {
  display: inline-block;
  border: 1px solid #999;
  background: #f6f6f6;
  padding: 0 4px;
  color: #999;
  font-size: 13px;
  border-radius: 5px;
  margin-right: 3px;
}

#about-container .button:hover {
  border: 1px solid #333;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);
}

.resume-cta {
  display: inline-block;
  border: 1px solid #f80;
  padding: 2px 10px !important;
  color: #f80;
  font-size: 15px;
  border-radius: 5px;
  margin-right: 3px;
}

.resume-cta:hover {
  background: rgba(255, 136, 0, 0.05);
  border: 1px solid #f80 !important;
  color: #f80 !important;
  box-shadow: 0 0px 5px 0 rgba(255, 136, 0, 0.15);
  text-decoration: none;
}

#about-container .major {
  color: #777;
  font-size: 17px;
  font-weight: 400;
}

#about-container .affiliation {
  font-size: 16px;
  padding: 0.2em 0;
} 

#about-container .location {
  padding: 0.2em 0;
  color: #aaa;
  font-size: 15px;
}

#about-container .author b{
  font-weight: 400;
  color: #777;
}

#about-container .duration, 
#about-container .author {
  padding: 0.05em 0 0.5em;
  color: #bfbfbf;
  font-size: 14.5px;
  line-height: 1.6em;
}

#about-container .award-title, 
#about-container .pub-date{
  display: inline;
  font-size: 16px;
  font-weight: 400;
}

footer {
  width: 86%;
  margin: auto;
  padding: 2em 0 1em 0;
} 

footer .contact {
  margin: 0.3em; 
  text-align: center;
  font-size: 18.5px;
}

footer .contact a {
  color: #333;
  display: inline-block;
  padding: 0.5em;
}

footer .contact a:hover {
  color: #f80;
  transition: color .2s ease-out;
}

footer #signature {
  margin-top: 1.3em;
  text-align: center;
  font-size: 13px;
  line-height: 1.6em;
}

#signature a {
  color: #333;
}

/* overlay */
#overlay {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100px + 5vw);
  height: calc(100px + 5.4vw);
  z-index: 10;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, .42);
  border-radius: .5em;
}

#profile-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0 0 .5em .5em;
}

#overlay-header {
  display: block;
  height: 1.55vw;
  border-radius: .5em .5em 0 0;
  cursor: move;
  z-index: 10;
  background-color: #dee1e6;
}

/*modal*/

/* The Modal */
.modal-mask {
  width: 100%;
  height: 100%;
  display: none; 
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
/*  padding: 0 20px;*/
}

/* Modal Content/Box */
.modal-popup {
  position: relative;
  margin: 15vh auto 20px auto;
  width: 75%;
  max-width: 600px;
  z-index: 10;
  background-color: #fefefe;
  display: none;
  padding: 10px 5.5%;
  border-radius: .38em;
  overflow: auto;
  line-height: 1.2em;
}

/* The Close Button */
.close {
  color: #333;
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 36px;
  font-weight: 500;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 19.5px;
  width: 90%;
  margin: 0 5%;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
}

.modal-role {
  font-size: 16px;
  color: #aaa;
  margin: .3em 0;
}

.modal-body {
  font-size: 16px;
}

.modal-main-image {
  height: auto;
  width: 100%;
}

.modal-image {
  height: auto;
  width: 100%;
}

.modal-image-small {
  width: 50%;
  height: auto;
}

.modal-popup figure {
  text-align: center;
}

.modal-popup figcaption {
  font-size: .8em;
  line-height: 1.4em;
  color: #999;
}

/*  --- */


@media (max-width: 30em) and (min-width: 15em) {
  header h1 {
/*    font-size: 32px;*/
    font-size: calc(18px + 1vw);
  }
  
  header {
    padding-top: 25%;
  }
}

@media (min-width: 64em) {
  #overlay {
    display: inline-block;
  }
}

/* 48em = 768px */
@media (min-width: 48em) { 
  nav {
    position: fixed;
    padding: 3% 2.5%;
    width: 95%;
    z-index: 0;
  }

  nav li {
    padding: 0.25em;
    margin-bottom: 0.2em;
  }

  nav li a {
    padding: 0.4em 0.5em 0.4em 0.5em;
    color: #000;
    font-size: 18px;
    transform: translateY(0%);
  }

  nav #menu {
    font-weight: 500;
    letter-spacing: .25px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-align: right;
    position: relative;
    top: 0;
/*    right: 0;*/
    clear: none;
    float: right;
    max-height: none;
    width: auto;
    height: auto;
    max-width: 18%;
  }
  
/*
  nav .menu-btn:checked ~ #menu {
  max-height: 240px;
    max-height: none;
    height: auto;
    padding: 0;
  }
*/

  nav .menu-icon {
    display: none;
  }
  
  nav #home {
    display: block;
    float: left;
    text-decoration: none;
    color: #000;
    padding: 0.25em;
    width: auto;
    max-width: 17%;
  }

  nav #home span {
    float: left;
    display: inline-block;
    position: relative;
    left: 0;
    width: 5vw;
    min-width: 40px;
    max-width: calc(35px + 1vw);
    height: auto;
    top: auto;
  }

  nav #home #home-title {
    position: relative;
    display: inline-block;
    left: 0.6vw;
    font-size:calc(15px + .45vw);
    top: 0.25vw;
    line-height: 130%;
    max-width: 9%;
  }
  
  header {
    margin: 0 auto;
    padding: 8% 0 0 0;
    width: 58%;
  }
  
  header h1 {
/*    font-size: 42px;*/
    font-size: calc(24px + 1.23vw);
    max-width: 30em;
    padding: 0;
  }

  header p {
    width: 76%;
    min-width: 20em;
  }
  
  header p, 
  #about-me p, 
  #about-me ul,
  #contact p {
    font-size: 20px;
    line-height: 1.7em;
    max-width: 60em;
  }
  
  #about-me b {
    box-shadow: inset 0 -5.5px 0 #fbfbfb, inset 0 -13px 0 #fbe06e;
    font-weight: 400;
  }
  
  .portfolio {
    margin: auto;
    width: 64%;
  }
  
  .portfolio h2 {
    padding-left: 5%;
  }
  
  .project {
    padding: 30px 5%;
  }
  
  .project:hover {
    padding: 45px 5%;
  }
  
  .project-image {
    width: 30%;
    max-width: 250px;
    height: auto;
    right: 1.5%;
  }
  
  .project-name {
    font-size: calc(20px + .4vw);
    line-height: 1.45em;
  }
  
  .project-role {
    font-size: calc(14px + .2vw);
  }
  
  .first-item {
    border-radius: 1.3em 1.3em 0 0;
  }

  .last-item {
    border-radius: 0 0 1.3em 1.3em;
  }
  
  .other-project {
    padding: 20px 5%;
  }
  
  .other-project:hover {
    padding: 23px 5%;
  }
  
  .other-project .project-name {
    font-size: calc(20px + .2vw);
    line-height: 1.45em;
  }

  .other-project .project-role {
    font-size: calc(14px + .15vw);
  }
  
  .modal-popup{ 
    margin: 20vh auto 20px auto;
  }
  
  .modal-header {
    width: 100%;
    margin: 0;
  }

  
/*
  .project-title {
    font-size: calc(15px + .95vw);
  }
  
  .project-description {
    font-size: calc(16px + 0.2vw);
    line-height: 1.75em;
  }
*/
      
  #about-me,
  #contact {
    margin: auto;
    padding: 1em 0% 1em 0%;
    max-width: 58%;
  }
  
  h2 {
    font-size: 32px;
    margin: 0;
    margin-bottom: .85em;
  }
  
  #about-container {
    position: relative;
    margin: auto;
    max-width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
  }
  
  #about-container h4 {
    font-size: 17.5px;
  }
  
  #about-container .role, 
  #about-container p {
    font-size: 20px;
  }
  
  #about-container .paper, 
  #about-container .award {
    font-size: 18.7px;
    line-height: 26px;
  }
  
  #about-container .award-title, 
  #about-container .pub-date {
    font-size: 17.8px;
  }
  
  #about-container .affiliation {
    font-size: 17px;
  }
  
  footer {
    text-align: center;
    margin: auto;
    padding: 1em 0;
  }
  
  footer .contact {
    display: inline-block;
  }
}


